name: Go Workflows
on:
  push:
    branches:
      - master
      - main
    tags:
      - "v*"
  pull_request:  # Default: opened, reopened, synchronize
    branches:
      - master
      - main

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  lint:
    name: golangci-lint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Go ToolChain
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: "./go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8
        with:
          version: "latest"
          args: "--config=./.golangci.yml ./..."

  coverage:
    name: code-coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Go ToolChain
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: "./go.mod"
      - name: Calculate Code Coverage
        run: |
          make coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}
          files: "./coverage/coverage.out"
          codecov_yml_path: "./.codecov.yml"

  build-and-analyze:
    name: codeql-analysis
    runs-on: ubuntu-latest
    needs:
      - lint
      - coverage
    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      with: 
        fetch-depth: 0
    - name: Setup Go ToolChain
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version-file: "./go.mod"
    - name: Initialize CodeQL
      uses: github/codeql-action/init@4e828ff8d448a8a6e532957b1811f387a63867e8
      with:
        languages: go
        build-mode: manual
    - name: Build App
      run: |
        make build
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@4e828ff8d448a8a6e532957b1811f387a63867e8
      with:
        category: "/language:go"

  build-container-image:
    permissions:
      contents: read
      actions: read
      packages: write
    env:
      REGISTRY: ghcr.io
    name: build-container-image
    runs-on: ubuntu-latest
    needs:
      - lint
      - coverage
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Extract metadata
        id: img-metadata
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
      - name: Login to Container Registry
        if: ${{ github.event_name != 'pull_request' && github.ref_type == 'tag' }}
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true
      - name: Build and Push
        id: build-img
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' && github.ref_type == 'tag' }}
          tags: ${{ steps.img-metadata.outputs.tags }}
          labels: ${{ steps.img-metadata.outputs.labels }}
          platforms: linux/amd64
      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4
        with:
          image-ref: ${{ steps.build-img.outputs.imageid }}
          exit-code: "1"
          ignore-unfixed: true
          trivyignores: "./.trivyignore"
